<%= form_for(@providehelp, url: providehelps_path, html: { id: "providehelp-create-form" }) do |f| %>
<h1 class="text-center"> Create Provide Help </h1>
<div class="form-group">
  <h4> From name: <%= f.label :title_field, current_user.username %> </h4>
</div>

<div class="form-group">
  <h4> Pins Balance: <%= f.label :title_field, current_user.total_pins %> </h4>
</div>

<hr>

<div class="form-group">
  <h4> Pin Required: <%= f.label :number_field, 1 %> </h4>
</div>

<div class="form-group">
  <h4> <%= f.label :number_field, "Transfer Amount:" %> </h4>
  <%= f.text_field :amount, required: true, id: "amount_field", class: 'form-control' %>
</div>


<div class="form-group text-center">
  <%= f.submit "Confirm", class: "btn btn-success btn-lg" %>
</div>
<% end %>
