<div class="main-header">
  <nav class="navbar">
    <div class="container-fluid">
      <div class="navbar-header">
        <%= link_to "Home", root_path, class: 'navbar-brand white shadowed' %>

        <button type="button" class="navbar-toggle collapsed" aria-controls="navbar" aria-expanded="false" data-target="#navbar" data-toggle="collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>

      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">

          <li>
            <%= link_to "Sign Attendance", new_turnout_path, class: 'white shadowed link-styling' %>
          </li>

          <% if current_user %>

            <li>
              <%= link_to current_user.username, edit_user_path(current_user), class: 'white shadowed link-styling' %>
            </li>

            <li>
              <%= link_to "Logout", session_path(current_user), method: :delete, class: 'white shadowed link-styling' %>
            </li>

          <% else %>

            <li>
              <%= link_to "Register", new_user_path, class: 'white shadowed link-styling' %>
            </li>

            <li>
              <%= link_to "Login", new_session_path, class: 'white shadowed link-styling' %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </nav>
</div>
